In [2]:
# Importando a base de dados
import pandas as pd

url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"

dados = pd.read_csv(url)

dados.head(5)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

# TAREFA 1: Realizando a média da metragem para cada um dos bairros.

In [3]:

# Passo1: agrupar Dataframe por bairros
bairro_ord = dados.groupby("Bairro", as_index=False)

# Passo2: Pegar a Metragem
bairro_metragem = bairro_ord["Metragem"]

# Passo3: Fazer a media
bairro_metragem_media = bairro_metragem.mean()

bairro_metragem_media.tail(5)

              Bairro    Metragem
696  Vila Água Funda  152.200000
697      Água Branca  191.000000
698        Água Fria  165.416667
699       Água Funda  139.000000
700        Água Rasa  340.250000

# TAREFA 2: Duas formas de selecionar dados por bairro.

In [10]:
bairro_exemplo = "Água Rasa"

#Primeira forma: usando máscara
masc = (dados["Bairro"] == bairro_exemplo)
bairros_masc = dados[masc]

#Segunda forma:  usando Querry
bairros_query = (dados.query("Bairro == @bairro_exemplo"))

bairros_masc == bairros_query

        Rua  Bairro  Cidade  Metragem  Quartos  Banheiros  Vagas  Valor
1257   True    True    True      True     True       True   True   True
8960   True    True    True      True     True       True   True   True
9089   True    True    True      True     True       True   True   True
9145   True    True    True      True     True       True   True   True
9804   True    True    True      True     True       True   True   True
9816  False    True    True      True     True       True   True   True
9818  False    True    True      True     True       True   True   True
9853  False    True    True      True     True       True   True   True